node {
  diameter: 40px;
  color: #DFE1E3;
  border-color: #D4D6D7;
  border-width: 2px;
  text-color-internal: #000000;
  caption: '{name}';
  font-size: 10px;
}

relationship {
  color: #D4D6D7;
  shaft-width: 1px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
}

node.Product {
  color: #DFE1E3;
  border-color: #D4D6D7;
  text-color-internal: #000000;
  diameter: 140px;
  border-width: 2px;
  caption: '{description}';
  font-size: 12px;
}

node.Category {
  color: #DE7B17;
  border-color: #854300;
  text-color-internal: #000000;
  diameter: 40px;
  border-width: 2px;
  caption: '{name}';
  font-size: 10px;
}
relationship.IS_OF_CATEGORY {
  color: #DE7B17;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #000000;
  border-color: #DE7B17;
  caption: '{qualifier}';
}
relationship.SUBCATEGORY_OF {
  color: #DE7B17;
  shaft-width: 5px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #DE7B17;
  text-color-internal: #000000;
  border-color: #DE7B17;
}

node.Producer {
  color: #0B576D;
  border-color: #034153;
  text-color-internal: #FFFFFF;
  diameter: 70px;
  border-width: 2px;
  caption: '{name}';
  font-size: 10px;
}
relationship.PRODUCED_BY {
  color: #0B576D;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  border-color: #0B576D;
}

node.Origin {
  color: #D83869;
  border-color: #9C0C37;
  text-color-internal: #FFFFFF;
  diameter: 60px;
  border-width: 2px;
  caption: '{name}';
  font-size: 10px;
}
relationship.ORIGINATES_IN {
  color: #D83869;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  border-color: #D83869;
}


node.Packaging {
  color: #DED017;
  border-color: #857B00;
  text-color-internal: #000000;
  diameter: 80px;
  border-width: 1px;
  caption: '{name}';
  font-size: 10px;
}
relationship.PACKAGED_IN {
  color: #DED017;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #000000;
  border-color: #DED017;
}

node.ContainerSize {
  color: #6834A3;
  border-color: #2E075A;
  text-color-internal: #FFFFFF;
  diameter: 40px;
  border-width: 2px;
  caption: '{name}ml';
  font-size: 10px;
}
relationship.SIZE_OF_CONTAINER {
  color: #6834A3;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  border-color: #6834A3;
}

node.LiquorType {
  color: #FF9562;
  border-color: #AF420D;
  text-color-internal: #FFFFFF;
  diameter: 80px;
  border-width: 2px;
  caption: '{name}';
  font-size: 10px;
}
relationship.IS_OF_TYPE {
  color: #FF9562;
  shaft-width: 13px;
  font-size: 8px;
  padding: 3px;
  text-color-external: #000000;
  text-color-internal: #FFFFFF;
  border-color: #FF9562;
}

